body {
  background-color: #1c1c1d;
  color: #c9c9c9;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
body a{ text-decoration: none}



body::-webkit-scrollbar-track{
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  background-color: #777777;
}
body::-webkit-scrollbar{
  width: 3px;
  background-color: #777777;
}
body::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 3px rgba(0,0,0,.3);
  background-color: #f5f5f5;
}



header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #333;
  overflow: hidden;
  height: 71px;
}
header a {
  transition: all 0.2s ease;
  float: left;
  color: #c9c9c9;
  border-bottom: 1px solid #333;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px 70px;
  padding-top: 25px;
  font-size: 20px;
  height: 35px;
  vertical-align: middle;
}
.logo img{
  padding: 0;
  margin: 0;
  height: 50px;
}
.logo{
  padding: 10px 20px !important;
  height: 50px;
}
.right-btns a{
  float: right;
  padding: 15px 10px !important;
  padding-bottom: 20px !important;
}
.right-btns img{
  height: 35px;
  width: 35px;
}
header a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}



main{
  margin: 0 10px;
  margin-top: 90px;
  padding: 0;
}
main ul{ list-style-type: none;}
main li{ font-size: 15px;}



.text-center {
  text-align: center;
  padding: 0;
}
.text-important { 
	  text-align: center;
	  color: red;
    padding: 0
}
.section-header {
  font-size: 30px;
  padding-left: 40px;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 10px;
}



.hor-scroll {
  transition: left .2s ease;
  white-space: nowrap;
  height: fit-content;
  position:relative;
  overflow: visible;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 40px;
}
.hor-scroll a{
  display: inline-block;
  text-align: center;
}
.scrollers{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.scroller{
  display: block;
  text-align: center;
  font-size: 30px;
  height: 200px;
  width: 40px;
  margin: 0;
  border: none;
  border-radius: 10px;
  position: relative;
  top: -240px;
  color: whitesmoke;
  background-color: #1f1f1e;
}
.scroller:hover{
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.inc-hs{float:right}
.dec-hs{float:left}



.game-tile {
  text-align: center;
  display: block;
  color: #c9c9c9;
  transition: all 0.3s ease;
  border-radius: 10px;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 180px;
}
.game-tile:hover {
  transform: scale(1.1);
  color: #fff
}
.game-icon {
  width: 100%;
  height:180px;
}
.html5 {background-color: #333;}
.emulator {background-color: #004f74;}
.flash {background-color: #540000;}



.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



/*Feedback form*/
form{
  margin-left: 30%;
  width: 40%;
}
form *{
  border-radius: 10px;
  border-width: 3px;
}
form h2{
  margin: 0;  
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 0;
}
form .type{
  height: 40px;
}
select:invalid { color: gray; }

form .feedback{
  padding: 3px 10px;
  word-wrap: break-word;
  height: 180px;
  width: 100%;
}
form .contact{
  padding: 3px 10px;
  height: 20px;
  width: 40%;
}
form .submit-btn{
  display: block;
  transition: all 0.3s ease;
  color: #f5f5f5;
  background-color: #1c1c1d;
  margin-top: 40px;
  font-size: 25px;
  height: 40px;
  width: 50%
}
form .submit-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}



.search-box {
  transition: all .7s ease;
  font-size: 30px;
  color: #fff;
  border: 1px solid #b7b5b5;
  height: 80px;
  width: 20%;
  background-color: #1f1f1e;
  border-radius: 10px;
  padding:5px 30px;
  display: flex;
  top:18px;
  flex-direction: column;
  margin-right:auto;
  margin-left:auto;
  margin-top: 10px;
}
.search-box.active{
  border:none;
  width: 60%;
  border-bottom:1px solid #b7b5b5;
}



/*Footer and info page*/
footer , main.info{
  align-items: center;
  justify-content: center;
  background-color: #383838;
  text-align: center;
  color: #fff;
  padding: 20px 200px;
  margin: 0;
  margin-top: 50px;
}
footer h3, main.info h3{ font-size: 25px;}
footer a, main.info a{
  color: #0084ff;
}
main.info img{
  margin: 40px;
}



/*Used for patch-notes*/
article{
  background-color: #1f1f1e;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  font-family: monospace;
  margin: 20px;
}
article ul{ list-style-type: disc;}
article h1{
  text-align: center;
  font-size: 30px;
  padding: 0;
  margin: 0;
}
article video{
  width: 90%;
  margin-top: 25px;
}